<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">

    <div class="alert alert-info" role="alert">
      <h4>Thank you for placing your order!</h4>
      <h5>Purchase details will be emailed to the following email: <%= @order.email %></h5>
    </div>

      <tbody>
        <% @order.line_items.each do |item| %>
          <%= render 'line_items', product: item.product, quantity: item[:quantity].to_i %>
        <% end %>
      </tbody>

      <tfoot>
        <tr>
          <th>
            <h5> Total: <%= humanized_money_with_symbol @order.total %> </h5>
          </th>
        </tr>
      </tfoot>

  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
